{
  "semi": false, // セミコロンの有無
  "singleQuote": true, // シングルクォートの使用
  "tabWidth": 2, // インデント幅
  "printWidth": 80, // 行の最大文字数
  "trailingComma": "none", // 末尾のカンマ
  "arrowParens": "avoid", // アロー関数の引数の括弧
  "bracketSpacing": true, // オブジェクトの中括弧にスペースを追加
  "jsxBracketSameLine": false, // JSXの閉じタグを新しい行にするかどうか
  "useTabs": false, // インデントにタブを使用するかどうか
  "endOfLine": "auto", // 改行コード
  "overrides": [ // ファイルタイプごとの設定のオーバーライド
    {
      "files": "*.json", // 拡張子によるファイル指定
      "options": {
        "tabWidth": 4 // JSONファイルのインデント幅を4にする
      }
    }
  ]
}