{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "useTabs": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.{js,jsx,ts,tsx,json,css,scss,html,md}",
      "options": {
        "tabWidth": 2,
        "semi": false
      }
    }
  ]
}
