body {
  padding: 18px;
  box-sizing: border-box;
  border: 1px solid transparent;
  line-height: 2;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  border-top: 1px solid #ddd;
  margin-top: 50px;
  padding: 10px;
}

h2 {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  input[type="button"] {
    width: 320px;
    max-width: 320px;
    padding: 10px;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;

    &:hover {
      color: #27acd9;
      background: #fff;
    }

    &:disabled {
      color: #bbb;
      background-color: white;
      border-color: #bbb;
    }
  }

  .labels {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-orientation: upright;
    writing-mode: vertical-rl;
  }

  canvas {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: 1px solid #ddd;
    background: rgb(255, 255, 255);
  }
}

.font {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;

  input[type="radio"] {
    align-self: unset;
  }

  input[type="button"] {
    margin-top: 30px;
    width: 320px;
    max-width: 320px;
    padding: 10px;
    font-size: 1em;

    align-items: center;

    text-decoration: none;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;

    &:hover {
      color: #27acd9;
      background: #fff;
    }

    &:disabled {
      color: #bbb;
      background-color: white;
      border-color: #bbb;
    }
  }
}

.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .text-area-title {
    width: 100%;
    max-width: 320px;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .text-area {
    width: 100%;
    height: 200px;
    max-width: 320px;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  input[type="button"] {
    width: 320px;
    max-width: 320px;
    padding: 10px;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;

    &:hover {
      color: #27acd9;
      background: #fff;
    }

    &:disabled {
      color: #bbb;
      background-color: white;
      border-color: #bbb;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #ddd;
  margin-top: 24px;
  padding-top: 12px;

  a.copyright {
    text-decoration: none;
  }
}

.wf-roundedmplus1c {
  font-family: "M PLUS Rounded 1c";
}

.wf-notosansjapanese {
  font-family: "Noto Sans JP";
}

@font-face {
  font-family: 'lineseed';
  src: url('../assets/LINESeedJP_OTF_Rg.woff') format('woff');
}

.wf-lineseed {
  font-family: 'lineseed', sans-serif
}

// RocknRoll One
.wf-rocknroll {
  font-family: 'RocknRoll One', sans-serif;
}

// Zen Antique
.wf-zenAntique {
  font-family: 'Zen Antique', serif;
}

// Kiwi Maru
.wf-kiwiMaru {
  font-family: 'Kiwi Maru', serif;
}

// Mochiy Pop One
.wf-mochiyPop {
  font-family: 'Mochiy Pop One', sans-serif;
}

// DotGothic16
.wf-dotGothic16 {
  font-family: 'DotGothic16', sans-serif;
}

// Kaisei Decol
.wf-kaiseiDecol {
  font-family: 'Kaisei Decol', sans-serif;
}

// Zen Kurenaido
.wf-zenKurenaido {
  font-family: 'Zen Kurenaido', sans-serif;
}

// Yusei Magic
.wf-yuseiMagic {
  font-family: 'Yusei Magic', sans-serif;
}

// Dela Gothic One
.wf-delaGothicOne {
  font-family: 'Dela Gothic One', sans-serif;
}

// Hachi Maru Pop
.wf-hachiMaruPop {
  font-family: 'Hachi Maru Pop', sans-serif;
}

// // Rampart One
// .wf-rampartOne {
//   font-family: 'Rampart One', sans-serif;
// }