body {
  padding: 18px;
  box-sizing: border-box;
  border: 1px solid transparent;
  line-height: 2;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  border-top: 1px solid #ddd;
  margin-top: 50px;
  padding: 10px;
}

h2 {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  input[type="button"] {
    width: 320px;
    max-width: 320px;
    padding: 10px;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #6777E6;
    background: #6777E6;
    color: #fff;
    transition: 0.5s;

    &:hover {
      color: #6777E6;
      background: #fff;
    }

    &:disabled {
      color: #bbb;
      background-color: white;
      border-color: #bbb;
    }
  }

  .labels {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-orientation: upright;
    writing-mode: vertical-rl;
  }

  canvas {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: 1px solid #ddd;
    background: rgb(255, 255, 255);
  }
}

.font {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;

  input[type="radio"] {
    align-self: unset;
  }

  input[type="button"] {
    margin-top: 30px;
    width: 320px;
    max-width: 320px;
    padding: 10px;
    font-size: 1em;

    align-items: center;

    text-decoration: none;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;

    &:hover {
      color: #27acd9;
      background: #fff;
    }

    &:disabled {
      color: #bbb;
      background-color: white;
      border-color: #bbb;
    }
  }
}

.otherSetting {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;

  .line {
    // background: linear-gradient(transparent 80%, #a7d6ff 80%);
    border-bottom: solid 3px #a7d6ff;
  }

  input[type="radio"] {
    align-self: unset;
  }

  input[type="button"] {
    margin-top: 30px;
    width: 320px;
    max-width: 320px;
    padding: 10px;
    font-size: 1em;

    align-items: center;

    text-decoration: none;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;

    &:hover {
      color: #27acd9;
      background: #fff;
    }

    &:disabled {
      color: #bbb;
      background-color: white;
      border-color: #bbb;
    }
  }
}

.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .text-area-small {
    width: 100%;
    max-width: 320px;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .text-area {
    width: 100%;
    height: 200px;
    max-width: 320px;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  input[type="button"] {
    width: 320px;
    max-width: 320px;
    padding: 10px;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;

    &:hover {
      color: #27acd9;
      background: #fff;
    }

    &:disabled {
      color: #bbb;
      background-color: white;
      border-color: #bbb;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #ddd;
  margin-top: 24px;
  padding-top: 12px;

  a.copyright {
    text-decoration: none;
  }
}

/*タブ切り替え全体のスタイル*/
.tabs {
  // margin-top: 50px;
  padding-top: 40px;
  // padding-bottom: 40px;
  background-color: #fff;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  // width: 560px;
  margin: 0 auto;

  align-items: center;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #27acd9;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked~#all_content,
#programming:checked~#programming_content,
#design:checked~#design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked+.tab_item {
  background-color: #27acd9;
  color: #fff;
}

.wf-roundedmplus1c {
  font-family: "M PLUS Rounded 1c";
}

.wf-notosansjapanese {
  font-family: "Noto Sans JP";
}

@font-face {
  font-family: 'lineseed';
  src: url('../assets/LINESeedJP_OTF_Rg.woff') format('woff');
}

.wf-lineseed {
  font-family: 'lineseed', sans-serif
}

// RocknRoll One
.wf-rocknroll {
  font-family: 'RocknRoll One', sans-serif;
}

// Zen Antique
.wf-zenAntique {
  font-family: 'Zen Antique', sans-serif;
}

// Kiwi Maru
.wf-kiwiMaru {
  font-family: 'Kiwi Maru', sans-serif;
}

// Mochiy Pop One
.wf-mochiyPop {
  font-family: 'Mochiy Pop One', sans-serif;
}

// DotGothic16
.wf-dotGothic16 {
  font-family: 'DotGothic16', sans-serif;
}

// Kaisei Decol
.wf-kaiseiDecol {
  font-family: 'Kaisei Decol', sans-serif;
}

// Zen Kurenaido
.wf-zenKurenaido {
  font-family: 'Zen Kurenaido', sans-serif;
}

// Yusei Magic
.wf-yuseiMagic {
  font-family: 'Yusei Magic', sans-serif;
}

// Dela Gothic One
.wf-delaGothicOne {
  font-family: 'Dela Gothic One', sans-serif;
}

// Hachi Maru Pop
.wf-hachiMaruPop {
  font-family: 'Hachi Maru Pop', sans-serif;
}



// Zen Kaku Gothic New
.wf-zenKakuGothicNew {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

// しっぽり明朝
.wf-ShipporiMincho {
  font-family: 'Shippori Mincho', sans-serif;
}

// Potta One
.wf-PottaOne {
  font-family: 'Potta One', sans-serif;
}

// Klee One
.wf-KleeOne {
  font-family: 'Klee One', sans-serif;
}

// Stick
.wf-Stick {
  font-family: 'Stick', sans-serif;
}

// ひな明朝
.wf-HinaMincho {
  font-family: 'Hina Mincho', sans-serif;
}

// さわらび明朝
.wf-SawarabiMincho {
  font-family: 'Sawarabi Mincho', sans-serif;
}

// さわらびゴシック
.wf-SawarabiGothic {
  font-family: 'Sawarabi Gothic', sans-serif;
}