body {
  padding: 18px;
  box-sizing: border-box;
  border: 1px solid transparent;
  line-height: 2;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

h2 {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  input[type="button"] {
    width: 320px;
    max-width: 320px;
    padding: 10px;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;

    &:hover {
      color: #27acd9;
      background: #fff;
    }

    &:disabled {
      color: #bbb;
      background-color: white;
      border-color: #bbb;
    }
  }

  canvas {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    //border: 1px solid #ddd;
    background: rgb(255, 255, 255);
  }
}

.font {
  display: flex;
  flex-direction: column;
  gap: 8px;

  input[type="radio"] {
    align-self: unset;
  }
}

.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .text-area {
    width: 100%;
    max-width: 320px;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  input[type="button"] {
    width: 320px;
    max-width: 320px;
    padding: 10px;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;

    &:hover {
      color: #27acd9;
      background: #fff;
    }

    &:disabled {
      color: #bbb;
      background-color: white;
      border-color: #bbb;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #ddd;
  margin-top: 24px;
  padding-top: 12px;

  a.copyright {
    text-decoration: none;
  }
}

.wf-roundedmplus1c {
  font-family: "M PLUS Rounded 1c";
}

.wf-notosansjapanese {
  font-family: "Noto Sans JP";
}

@font-face {
  font-family: 'lineseed';
  src: url('../assets/LINESeedJP_OTF_Rg.woff') format('woff');
}

.wf-lineseed {
  font-family: 'lineseed', sans-serif
}